body{

}

#lightbox {
    position:fixed; /* keeps the lightbox window in the current viewport */
    top:0;
    left:0;
    width:100%;
    height:100%;
    background-color:rgba(192,192,192,.8);
    text-align:center;
}

#lightbox p {
    text-align:right;
    color:black;
    margin-right:20px;
    font-size:12px;
}

#lightbox #ctbox {
    box-shadow:0 0 25px #111;
    -webkit-box-shadow:0 0 25px #111;
    -moz-box-shadow:0 0 25px #111;
    max-width:940px;
}

#ctbox {
    background-color: white;
    text-align: center;
    width: 100%;
    height: 100%;
    border: 5px solid green;
    padding: 25px;
    margin: 0 auto;
}

